{% extends 'base.html' %}  

{% load static %}

{%  block content  %}




<!-- intro section -->

<section id="intro" class="bg-dark m-5 p-5">
    <div class="container-lg">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <h1>
                   
                    <div class="display-1 text-light">Order Us</div>
                    <div class="display-5 text-muted"> In Jimma</div>
                </h1>
                <p class="lead my-4 text-light">24 hours open to serve your orders or come and visit us!</p>
                <a href="#pricing" class="btn btn-outline-warning btn-lg m-3 " data-bs-toggle="modal" data-bs-target="#reg-modal">Order Now</a>
                
            </div>

<!-- Modal -->
<div class="modal fade " id="reg-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Orders</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center m-3">

              
             
               <h4 class="display-5 m-3">what do you want to order?</h4>
               <a href="{% url 'orders:order' %}"><button class="btn btn-danger btn-lg">Food</button></a>
                <a href="{% url 'orders:Dorder' %}"><button class="btn btn-danger btn-lg">Drink</button></a>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div> 
<!-- modal ends here -->
            <div class="col-md-7">
                <img src="{% static 'savior5.png' %}" class=" img-fluid " alt="couldn't found the image ">
            </div>
            
        </div>
    </div>
</section>               
<!-- INTRO SECTION ENDS HERE -->




<section id="" class="bg-secondary p-4">
    <div class="container-fluid">
        <h1 class="display-4 text-white text-center mb-4">Our Menu</h1>
        <!-- <h1 class="display-5 text-white text-center">Foods</h1> -->
        <div class="row justify-content-center g-4 mb-3">
            {% for food in  foods %}
            <div class="col-8 col-md-6 col-lg-3 mb-5">
                
                <div class="card mb-5 border-2 border-outline-secondary h-100  text-center bg-dark">
                    <div class="card-body h-100 text-light ">
                        <div class="hello"><img src="{{food.picture}}" alt="" class="img-fluid"></div>
                        
                        <h4 class="card-title text-light">{{food.name}}</h4>
                        <p class="card-subtitle  lead ">Order Our Delicious Foods </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn  btn-outline-warning">Order</button>
            



                    </div>

                 
                </div>
            </div>
            {% endfor %}
            
        </div>



</section>



<!-- about us section -->


 

            <h1 class="display-3 text-light text-center" >Our Staffs</h1>
          <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
                <div class="card d-flex position-relative flex-column">
                    <div class='imgContainer'>
                        <img
                            src="{% static 'chief1.jpg' %}" >
                    </div>
                    <div class="content">
                        <h2>Samuel Gezhagn</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin
                            leo viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo
                            volutpat ac sed dolor.</p>
                    </div>
                </div>
                <div class="card d-flex position-relative flex-column">
                    <div class='imgContainer'>
                        <img
                            src="{% static 'chief2.jpg' %}">
                    </div>
                    <div class="content">
                        <h2>Yenesew Tamrat</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin
                            leo viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo
                            volutpat ac sed dolor.</p>
                    </div>
                </div>
                <div class="card d-flex position-relative flex-column">
                    <div class='imgContainer'>
                        <img
                             src="{% static 'chief1.jpg' %}">
                    </div>
                    <div class="content">
                        <h2> Mariana Temesgen</h2>
                        <p class="m-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget velit tristique, sollicitudin
                            leo viverra, suscipit neque. Aliquam ut facilisis urna, in pretium nibh. Morbi in leo in eros commodo
                            volutpat ac sed dolor.</p>
                    </div>
                </div>
            </div>
    












    

    <section id="contact" class=" m-4 p-5">
            <div class="container contact text-light m-5">
                <div class="row">
                    <div class="col-md-3 bg-secondary">
                        <div class="contact bg-secondary">
                            <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                            <h2>Contact Us</h2>
                            <h4>We would love to hear from you !</h4>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="contact-form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="fname">First Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                                </div>
                            </div>
                            <div class=" border-2 border-outline-secondary">
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="lname">Last Name:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="email">Email:</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2" for="comment">Comment:</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-sm-offset-2 col-sm-10 text-center">
                                            <button type="submit" class="btn btn-outline-success m-4 btn-lg">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                        </div>
                    </div>


    </section>
            {% endblock %}